<?php
  return [
      'rbac-user-doctrine-orm' => [
          'enable_default_user_entity' => false,
      ],
      'zfcuser' => [
          'userEntityClass' => 'YourUserEntityClass' //TODO
      ],
  ];